# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies

from pymongo import MongoClient
import json
import requests 
from pprint import pprint
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'autosaurus', 'config', 'local', 'met', 'test', 'uk_food']

In [5]:
# review the collections in our database
#print(mongo.list_collections_names())
print(db.list_collection_names())

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [53]:
match_query = {'$match':{'scores.Hygiene':20}}

group_query = {'$group': {'_id': "$BusinessName", 
                          'count': { '$sum': 1 }}}

sort_values = {'$sort': { 'count': -1, '_id': 1 }}


pipeline = [match_query, group_query, sort_values]

# Run the pipeline through the aggregate method and save the results to a variable
results = list(establishments.aggregate(pipeline))

# Print the number of establishments  in the result
print("Number of establishments in result: ", len(results))

# Print the first 10 results
pprint(results[0:10])

# Convert the result to a Pandas DataFrame
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(40)

Number of establishments in result:  40
[{'_id': 'Golden Palace', 'count': 2},
 {'_id': 'A1 News & Wine', 'count': 1},
 {'_id': 'Angels Bakery', 'count': 1},
 {'_id': "Ashby's Butchers", 'count': 1},
 {'_id': 'Asian Supermarket Ltd: T/A Best Food Wine Ltd', 'count': 1},
 {'_id': 'Bali Maamalas', 'count': 1},
 {'_id': 'Brenalwood', 'count': 1},
 {'_id': 'Cakes & Bakes', 'count': 1},
 {'_id': 'Caribiscus Ltd', 'count': 1},
 {'_id': 'Chicago 30', 'count': 1}]
Rows in DataFrame:  40

                                                  _id  count
0                                       Golden Palace      2
1                                      A1 News & Wine      1
2                                       Angels Bakery      1
3                                    Ashby's Butchers      1
4       Asian Supermarket Ltd: T/A Best Food Wine Ltd      1
5                                       Bali Maamalas      1
6                                          Brenalwood      1
7                                       Cakes & Bakes      1
8                                      Caribiscus Ltd      1
9                                          Chicago 30      1
10                                         Costcutter      1
11                                              F & S      1
12                                          Gah Shing      1
13                                          Gospodina      1
14                      Great Hallingbury Manor Hotel      1
15                              Kennedy Fried Chicken      1
16                        Kings Restaurant (Oriental)      1
17                                       La Simon Ltd      1
18                                  Leo's Bar & Grill      1
19                                             Londis      1
20                                          Longhouse      1
21                             Magazin Romanesc Diana      1
22                                      Melrose Hotel      1
23                                          Mummy Yum      1
24                                   New Happy Garden      1
25                            Nikkis Place Restaurant      1
26                                   Oriental Cottage      1
27                            Pakhtoonkhwa Restaurant      1
28                                         Royal Ribs      1
29                        Sahajanand Catering Limited      1
30                              Samui Thai Restaurant      1
31                                      Seaford Pizza      1
32                                         Sisko Cafe      1
33                          South Sea Express Cuisine      1
34                                The Chase Rest Home      1
35                                   The Dog And Duck      1
36                                     The Tulip Tree      1
37  Westview Playgroup Based At Downsview Comm Pri...      1
38                        Whatever The Weather Coffee      1
39                                            Xich Lo      1

In [52]:
result_df.head(10)

                                             _id  count
0                                  Golden Palace      2
1                                 A1 News & Wine      1
2                                  Angels Bakery      1
3                               Ashby's Butchers      1
4  Asian Supermarket Ltd: T/A Best Food Wine Ltd      1
5                                  Bali Maamalas      1
6                                     Brenalwood      1
7                                  Cakes & Bakes      1
8                                 Caribiscus Ltd      1
9                                     Chicago 30      1

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {'LocalAuthorityName': {'$regex': 'London'},'RatingValue':{'$gte': '4'}}


# Use count_documents to display the number of documents in the result


print("Number of establishments with rating value of 4:", establishments.count_documents(query))

# Display the first document in the results using pprint
         
print("First result:")
results = establishments.find(query)
pprint(results[0])

In [ ]:
# Convert the result to a Pandas DataFrame

London_establishments_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
London_establishments_df

# Display the first 10 rows of the DataFrame
#London_establishments_df.head(10)

In [ ]:
# Display the first 10 rows of the DataFrame
London_establishments_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [45]:
# Search within 0.01 degree on either side of the latitude and longitude.


# Sort by hygiene score
#"longitude":"0.08384000",
#"latitude":"51.49014200"

latitude =51.49014200
longitude=0.08384000
degree_search=0.01
latitudePlus = latitude + degree_search 
longitudePlus = longitude + degree_search 
latitudeMinus = latitude - degree_search 
longitudeMinus = longitude - degree_search

query = {'geocode.latitude': {"$gte": latitudeMinus,"$lte": latitudePlus},
        'geocode.longitude': {"$gte":longitudeMinus ,"$lte": longitudePlus},'RatingValue': '5'}

# Create a query that sorts in ascending order by last_service

sort = [('scores.Hygiene', 1)]

# Capture the results to a variable
results = establishments.find(query).sort(sort).limit(5)

# Pretty print the first five results

pprint(list(results))




#query =
#sort = db.establishments.find(scores.Hygiene:) 

# Print the results

[{'AddressLine1': '130 - 132 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4646.965634598608,
  'FHRSID': 694609,
  'LocalAuthorityBusinessID': 'PI/000116619',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-08-05T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174a58512d07220cf832'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694609',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Plumstead Manor School Old Mill Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4646.9740101340385,
  'FHRSID': 695241,
  'LocalAuthorityBusinessID': 'PI/000179088',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1QG',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174a58512d07220cf84e'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695241',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '35 Lakedale Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Atlantic Fish Bar',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4646.974611855838,
  'FHRSID': 694478,
  'LocalAuthorityBusinessID': 'PI/000086506',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1PR',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174a58512d07220cf851'),
  'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694478',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '144 - 146 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'ChangesByServerID': 0,
  'Distance': 4646.946071297699,
  'FHRSID': 695223,
  'LocalAuthorityBusinessID': 'PI/000178842',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-11-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174a58512d07220cf808'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'ChangesByServerID': 0,
  'Distance': 4646.95593107927,
  'FHRSID': 1380578,
  'LocalAuthorityBusinessID': '14425',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SE',
  'RatingDate': '2021-11-11T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174a58512d07220cf817'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1380578',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [47]:
# Convert result to Pandas DataFrame
Five_establishments_df = pd.DataFrame(results)
Five_establishments_df.head(5)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Five_establishments_df[]

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [39]:



match_query = {'$match':{'scores.Hygiene': 0}}

group_query = {'$group': {'_id': "$LocalAuthorityName", 
                          'count': { '$sum': 1 }}}

sort_values = {'$sort': { 'count': -1, '_id': 1 }}


pipeline = [match_query, group_query, sort_values]

# Run the pipeline through the aggregate method and save the results to a variable
results = list(establishments.aggregate(pipeline))

# Print the number of classifications in the result
print("Number of classifications in result: ", len(results))

# Print the first 10 results
pprint(results[0:10])

Number of classifications in result:  55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [41]:
# Convert the result to a Pandas DataFrame
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(5)

Rows in DataFrame:  55

         _id  count
0     Thanet   1130
1  Greenwich    882
2  Maidstone    713
3     Newham    711
4      Swale    686

In [44]:
#given by tutor

group_query = {'$match':{'scores.Hygiene': 0}},
{'$group': {'_id':'$LocalAuthorityName','count':{'$sum': 1}}},{'$sort':{'count': -1 }}

pipeline=list(group_query)


# Capture the results to a variable
results = list(establishments.aggregate(pipeline))
print("Number of establishments with hygiene score of zero:") 
print(len(results))


pprint(results[0:10])

Number of establishments with hygiene score of zero:
16827
[{'AddressLine1': '1 The Stade',
  'AddressLine2': 'Folkestone',
  'AddressLine3': 'Kent',
  'AddressLine4': '',
  'BusinessName': 'Folkestone Trawlers Shop',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4591.912144538092,
  'FHRSID': 344689,
  'LocalAuthorityBusinessID': 'PI/000002095',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT19 6AB',
  'RatingDate': '2020-02-14T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84a7'),
  'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/344689',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'Docker',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 894592,
  'LocalAuthorityBusinessID': 'PI/000074396',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2018-04-18T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84a8'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/894592',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'Custom Folkestone',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 1046418,
  'LocalAuthorityBusinessID': 'PI/000076426',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2018-11-30T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84a9'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1046418',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'The Club Hut',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 1071930,
  'LocalAuthorityBusinessID': 'PI/000076531',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2018-08-04T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84ac'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1071930',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'Dr Legumes - Harbour Arm',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 805702,
  'LocalAuthorityBusinessID': 'PI/000073219',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2018-06-08T00:00:00',
  'RatingKey': 'fhrs_4_en-gb',
  'RatingValue': '4',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84ae'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/805702',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 10, 'Hygiene': 0, 'Structural': 10}},
 {'AddressLine1': 'St Marys Church Of England Primary School',
  'AddressLine2': 'Warren Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'St Marys COE (aided) Primary School',
  'BusinessType': 'School/college/university',
  'BusinessTypeID': 7845,
  'ChangesByServerID': 0,
  'Distance': 4591.871474174837,
  'FHRSID': 289353,
  'LocalAuthorityBusinessID': 'PI/000002468',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT19 6QH',
  'RatingDate': '2016-09-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84af'),
  'geocode': {'latitude': 51.085797, 'longitude': 1.194762},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289353',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'The Pilot',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 1299500,
  'LocalAuthorityBusinessID': 'PI/000078051',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2021-06-14T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84b2'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1299500',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'The Ship',
  'AddressLine2': '23 The Stade',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'The Ships Galley',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4591.912144538092,
  'FHRSID': 987206,
  'LocalAuthorityBusinessID': 'PI/000075655',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT19 6AB',
  'RatingDate': '2019-07-03T00:00:00',
  'RatingKey': 'fhrs_4_en-gb',
  'RatingValue': '4',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84b6'),
  'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/987206',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 10, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '16 The Stade',
  'AddressLine2': 'Folkestone',
  'AddressLine3': 'Kent',
  'AddressLine4': '',
  'BusinessName': 'Mariner',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4591.912144538092,
  'FHRSID': 289560,
  'LocalAuthorityBusinessID': 'PI/000039927',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'CT19 6AB',
  'RatingDate': '2019-03-19T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84b8'),
  'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289560',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Folkestone Harbour',
  'AddressLine2': 'Harbour Approach Road',
  'AddressLine3': 'Folkestone',
  'AddressLine4': 'Kent',
  'BusinessName': 'Fish Shack',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4591.914705329384,
  'FHRSID': 1410251,
  'LocalAuthorityBusinessID': 'PI/000078140',
  'LocalAuthorityCode': '188',
  'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
  'LocalAuthorityName': 'Folkestone and Hythe',
  'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': '',
  'RatingDate': '2022-04-20T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': '5',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63cf174958512d07220c84bb'),
  'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1410251',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]